.imgTitle {
  text-align: center;
}

.barImage {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  height: auto;
  border-radius: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.hiroImage {
  width: 600px;
  height: 800px;
  border-radius: 100px;
}

.text {
  margin-left: 20px;
}